@import "../../colors.scss";
@import "bootstrap/scss/bootstrap";

.MainIntro {
    height: 100vh;
    .logo {
        max-width: 250px;
    }

    animation: fadein 1.5s;

    -moz-animation: fadein 1.5s;
    -webkit-animation: fadein 1.5s;
    -o-animation: fadein 1.5s;

    @keyframes fadein {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    @-moz-keyframes fadein {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    @-webkit-keyframes fadein {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    @-o-keyframes fadein {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}

.MainTitle {
    font-size: 27pt;
    word-break: keep-all;
}

.MainSubtitle {
    font-size: 15pt;
}

.MainButton {
    font-family: "NanumSquare";
    font-weight: 900 !important;
    min-width: 180px;
    margin-bottom: 30px;
    font-size: 13pt;
}

.MainFeatures {
    padding-top: 300;
    padding-bottom: 200;

    h1 {
        @include media-breakpoint-up(xs) {
            font-size: 19pt;
        }
        @include media-breakpoint-up(sm) {
            font-size: 24pt;
        }

        font-weight: normal;
    }

    p {
        font-size: 13pt;
        font-family: "NanumBarunGothic";
        word-break: keep-all;
        overflow-wrap: keep-all;
    }

    img {
        width: 100%;
    }

    .row {
        padding-bottom: 7rem;
    }
}